.awesomplete [hidden] {
    display: none;
}

.awesomplete .visually-hidden {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

.awesomplete {
    display: inline-block;
    position: relative;
}

.awesomplete > input[type=search] {
    width: 235px;
}

.awesomplete > ul {
    position: absolute;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
    min-width: 235px;
    background: #fff;
    border-left: #e0e0e0 1px solid;
    border-bottom: #e0e0e0 1px solid;
    border-right: #e0e0e0 1px solid;
}

.awesomplete > ul:empty {
    display: none;
}

.awesomplete li {
    display: block;
    text-align: left;
    padding: 0.5rem 2rem;
}

.awesomplete li:hover {
    cursor: pointer;
    background: #F8F8F8;
}

.awesomplete mark {
    background: none;
    font-weight: bold;
}